@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Bitter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bitter/v33/rax-HiqOu8IVPmn7erxrJD0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --primary-color-light: hsl(215, 26%, 73%);
  --primary-color: hsl(326.96deg 76.96% 26.07%);
  --primary-color-dark: hsl(326.96deg 72.63% 37.25%);
  --secondary-color: #00261f;
  --secondary-color-light: #022C24;
  --secondary-color-dark: #01221D;
  --white: #ffffff;
  --max-width: 1200px;
  --basic-font: 'Poppins';
  --highlight-font: 'Bitter';
  --basic-size: 16px;
}

/* BLOCK */
* {
  margin-block: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary-color);
  font-family: var(--basic-font), sans-serif;
  color: var(--white);
}

/* TEXTE */
a {
  text-decoration: none;
  color: var(--white);
}

i {
  color: var(--white);
}

.btn i {
  color: var(--primary-color-light);
}

.navbar__footer i {
  color: var(--white);
}

h1 {
  position: absolute;
  left: 72px;
  top: 29px;
  font-size: 0.84rem;
}

section h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

section h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-align: center;
}

.protected-email {
  unicode-bidi: bidi-override;
  direction: rtl;
}

/* BLOCK */
li {
  list-style-type: none;
}

img {
  width: 100%;
}

.header-container,
section,
.footer-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--basic-size);
}

.start__items {
  align-items: flex-start;
}

.start__content {
  justify-content: flex-start;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding-block: 2rem;
}
.grid__deux {
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.grid__8 {
  grid-template-columns: repeat(1, 1fr);
  align-items: flex-end;
  padding-block: 0;
}
.grid-col-span-2{
  grid-column: span 1;
}
.grid-col-span-5{
  grid-column: span 1;
}
.grid-col-span-8{
  grid-column: span 1;
}
.card {
  padding: 2rem 1rem;
  background-color: var(--secondary-color-light);
  border-bottom: 5px solid transparent;
  border-radius: 5px;
  transition: 0.3s;
}

.card:hover {
  border-bottom: 5px solid var(--primary-color-dark);
}

.card span {
  padding: 4px 10px;
  font-size: 1.5rem;
  background-color: var(--secondary-color-dark);
  border-radius: 100%;
  transition: 0.3s;
}

.btn {
  padding: 0.5rem 1.1rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  cursor: pointer;
}

button {
  color: var(--white);
}

#btn,
.btn__radius {
  padding: 0.5rem 1.5rem;
  background-color: var(--primary-color-dark);
  border-radius: 5rem;
}

.btn__round {
  padding: 0.2rem 0.5rem;
  font-size: 1.25rem;
  background-color: var(--primary-color);
  border-radius: 100%;
}

.projects-header .btn,
.navbar__footer .btn__round {
  background-color: var(--secondary-color-light);
}

.projects-header .btn__active {
  background-color: var(--primary-color);
}

.navbar__footer .btn__round:hover {
  background-color: var(--primary-color);
}

.navbar__footer .btn__round:hover i {
  color: var(--primary-color-light);
}

.cookie-banner {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: var(--primary-color);
  text-align: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.cookie-banner button {
  background: var(--secondary-color);
  border: none;
  margin: 0 0.56rem;
  padding: 8px 16px;
  cursor: pointer;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-light);
  position: absolute;
  z-index: 99;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
  position: absolute;
  z-index: 99;
}

/* HEADER */
header {
  z-index: 300;
  position: sticky;
  top: 0;
  left: 0;
  padding: var(--basic-size);
  background-color: var(--secondary-color-dark);
  -moz-backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0.84;
}

/* MENU DU SITE */
header .navbar.flex,
.menu-toggle,
.bar,
.menu-list.flex,
.navbar__socials {
  display: block;
}

.menu-toggle {
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 6px 0;
  background-color: var(--primary-color-light);
  transition: transform 0.5s ease-in-out;
}

.menu-toggle .bar:nth-child(2) {
  opacity: 1;
  transition: opacity 0.5s ease-out, height 0.5s ease-out;
}

.menu-toggle.active .bar:nth-child(1) {
  transform: rotate(-45deg);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
  transition: opacity 0.5s ease-in, height 0.5s ease-in;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: rotate(45deg) translateX(-13px) translateY(-13px);
}

.menu-list {
  position: absolute;
  z-index: 400;
  left: 0;
  width: 99.2%;
  height: 0;
  background-color: var(--secondary-color-dark);
  -moz-backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  text-align: center;
  overflow: hidden;
  transition: .3s ease;
}

.menu-animation {
  --i: 0;
}

.menu-list.show {
  height: 25rem;
  opacity: 0.84;
}

.menu-list.show .btn__radius {
  margin: auto;
  width: 230px;
  padding: 0.02rem;
}

.menu-list a {
  display: block;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  transform: translateY(-50px);
  opacity: 0;
  transition: .3s ease;
}

.menu-list.show a {
  transform: translateY(0);
  opacity: 1;
  transition-delay: calc(.15s * var(--i));
}

/* MENU LANGUE */
.lang-selector .flex {
  padding: 0.1rem 1.1rem;
}

.lang-selector {
  position: absolute;
  top: -9px;
  right: 20px;
  z-index: 2;
}

.lang-selector a {
  font-weight: bold;
}

#language-selector .btn {
  text-align: center;
  padding: 0.5rem;
  width: 40px;
  height: 35px;
}

.hidden {
  display: none;
}


/* MAIN */
main {
  position: relative;
}

.navbar__socials {
  display: none;
  position: absolute;
  right: 0;
  top: 5%;
  transform: translateY(-50%);
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
}

.navbar__socials li {
  margin: 2px 0;
  padding: 7px 0;
}

.navbar__socials a {
  padding: 7px 13px;
  font-size: 1.5rem;
}

.navbar__socials i.fa-github {
  padding-right: 1px;
}

.navbar__socials i.fa-linkedin-in,
.navbar__socials i.fa-instagram {
  padding-right: 3px;
}

/* HELLO */
#hello {
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}

#hello h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  text-align: left;
}

.hello-container {
  padding-bottom: 0;
}

.hello-container .content:first-of-type {
  order: 2;
}

.hello-description,
.hello-description:nth-of-type(2) {
  position: unset;
  width: 100%;
  margin-bottom: 2rem;
  color: var(--primary-color-light);
}

.hello-link {
  margin: auto;
  width: 50%;
  display: block;
  text-align: center;
}

#hello img {
  max-width: 100%;
}

/* COMMITMENTS */
#commitments {
  padding-top: 74px;
}

#commitments img {
  display: block;
  margin: auto;
  width: 80px;
}

#commitments h2:first-of-type {
  padding-bottom: 14px;
}

#commitments h2 {
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

#values.grid {
  padding-block: 0;
}

#values h3 {
  z-index: 230;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 0;
  height: 100px;
  font-family: var(--highlight-font), serif;
  font-size: 3rem;
}

.card__values {
  position: absolute;
  height: 130px;
  padding: 0.5rem;
  background-color: var(--secondary-color-light);
  opacity: 0;
  transition: 2.3s ease-in-out;
}

.card__values:hover {
  opacity: 0.96;
}

.values_description {
  font-family: var(--basic-font), sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--primary-color-light);
  text-align: justify;
}

#principles {
  padding-block-end: 0px;
}

#principles h3 {
  align-items: flex-start;
  padding: 0.65rem;
  font-family: var(--basic-font), sans-serif;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  height: 50px;

}

.principles-subcontainer {
  width: 80%;
}

#principles span {
  display: block;
}

/* WHOIAM */
#whoiam,
#services,
#projects,
#testimonials {
  padding-top: 52px;
  padding-bottom: 0;
}

#whoiam {
  padding-bottom: 28px;
}

#whoiam img {
  max-width: 530px;
}

.whoiam-description {
  margin-bottom: 1rem;
  text-align: justify;
  color: var(--primary-color-light);
}

.highlight {
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
  background-color: var(--secondary-color-light);
  border-left: 2px solid var(--primary-color-dark);
  border-radius: 5px;
}

/* SERVICES */
#services h3 {
  margin-bottom: 0;
}

#services .grid {
  gap: 2rem 1rem;
}

#services .card {
  position: relative;
  display: block;
  padding: 2rem;
  padding-top: 3rem;
  text-align: center;
}

#services .card span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px 10px;
  font-size: 2rem;
  background-color: var(--secondary-color-light);
  border-radius: 2px;
  transition: 0.3s;
}

#services .card:hover span {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

/* PROJECTS */
header.projects-header.flex {
  position: unset;
}

.projects-presentation {
  width: 384px;
  font-size: 0.70rem;
}

.projects-card:hover {
  border-bottom: 5px solid transparent;
}

/* TESTIMONIALS */
#testimonials {
  padding-top: 110px;
}

.carousel-container {
  position: relative;
  max-width: var(--max-width);
  height: 500px;
  margin: 0 auto;
}

.carousel {
  width: 95%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-items.flex.start__content {
  flex-wrap: nowrap;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
}

.testimonials-card {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  background-color: var(--secondary-color-dark);
  border-bottom: 5px solid var(--primary-color-dark);
}

.testimonials-text {
  position: relative;
  padding: 0px 25px;
}

#testimonials h4 {
  margin-bottom: 1.1rem;
  font-family: var(--highlight-font), serif;
  font-size: 2.3rem;
  color: var(--primary-color-light);
  text-align: center;
}

#testimonials h4 span {
  font-family: var(--basic-font), sans-serif;
  font-size: 0.65rem;
  font-weight: 400;
  text-transform: capitalize;
}

.testimonials-description {
  padding: 0;
  font-size: 0.56rem;
  color: var(--white);
  text-align: justify;
}

.quote {
  position: absolute;
  right: 43%;
  top: -70px;
  width: 70px;
  height: 70px;
  background-color: var(--secondary-color-light);
  border-radius: 100%;
}

.testimonials-img {
  display: block;
  width: 38px;
  height: 30px;
  margin-top: 20px;
  margin-left: var(--basic-size);
}

.carousel-btn {
  z-index: 500;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 35px;
  height: 65px;
  border: none;
  background-color: transparent;
  font-size: 50px;
  color: var(--primary-color-dark);
  cursor: pointer;
}

.carousel-btn:first-of-type {
  left: 0px;
}

.carousel-btn:nth-of-type(2) {
  right: 0px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

#related .card h4 {
  color: var(--primary-color-light);
}

.related-card {
  padding: 0 1rem;
  background-color: transparent;
}

.related-card:hover {
  border-radius: 5px;
  border-bottom: 5px solid transparent;
}

/* FOOTER */
footer {
  background-color: var(--secondary-color-dark);
  padding: 20px;
  text-align: center;
}

.footer-container {
  position: relative;
}

.footer-description {
  text-align: left;
  margin-bottom: 10px;
}

.footer-description p {
  font-size: 0.75rem;
  color: var(--primary-color-light);
}

.social-buttons {
  text-align: center;
  margin-bottom: 10px;
}

.site-menu {
  text-align: center;
  margin-bottom: 10px;
}

.site-menu:nth-of-type(2) {
  margin-right: var(--basic-size);
}

.back-to-top {
  position: absolute;
  top: -70px;
  right: 5px;
  width: 8%;
  margin-bottom: 10px;
  font-size: xx-large;
  text-align: right;
  text-decoration: none;
  cursor: pointer;
}

.back-to-top i {
  color: var(--primary-color-light);
}

.copyright {
  clear: both;
  margin-top: 20px;
}

@media screen and (min-width: 300px) {
  h1 {
    left: 90px;
  }

  .testimonials-description {
    padding: 0;
    font-size: 0.70rem;
  }
}
@media screen and (min-width: 438px) {
  .grid__8 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-col-span-5{
    grid-column: 2 span;
  }
  .grid-col-span-8{
    grid-column: 2 span;
  }
}
@media screen and (min-width: 520px) {
  .testimonials-description {
    font-size: 0.84rem;
  }
}

@media screen and (min-width: 769px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid__deux {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid__8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid-col-span-5{
    grid-column: span 5;
  }
  .grid-col-span-8{
    grid-column: span 8;
  }
  /* MENU DU SITE */
  .header-container {
    padding: 0 1rem;
  }

  h1 {
    top: 20px;
  }

  h1,
  .menu-list {
    position: initial;
    width: auto;
    height: auto;
  }

  header .navbar.flex,
  .menu-list.flex {
    display: flex;
  }

  header .navbar.flex {
    justify-content: flex-start;
    gap: 0;
  }

  .navbar__socials {
    display: block;
  }

  .menu-toggle {
    display: none;
  }

  .menu-list.flex {
    justify-content: space-between;
    gap: 0.371rem;
    background-color: transparent;
    -moz-backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    backdrop-filter: unset;
  }

  .show {
    display: none;
  }

  .menu-list.show {
    height: 50px;
  }

  .menu-list .btn__radius {
    padding: 0 1rem;
    border-radius: 5rem;
  }

  .menu-list a {
    display: inline;
    padding: 0;
    font-size: initial;
    font-weight: 400;
    transform: translateY(0);
    transition: none;
    opacity: 1;
  }

  .menu-list.show a {
    opacity: 1;
    transition-delay: 0;
  }

  .hello-container .content:first-of-type {
    order: inherit;
  }

  #values h3 {
    font-size: 2rem;
  }

  .carousel-item {
    min-width: 50%;
  }

  .footer-description P {
    padding: 0 1.1rem 0 0;
  }

  .grid-col-span-2{
    grid-column: span 2 ;
  }

  .back-to-top {
    top:-84px;
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 940px) {
  #values h3 {
    font-size: 3rem;
  }

}

@media screen and (min-width: 980px) {
  header .navbar.flex {
    gap: 0.84rem;
  }

  h1,
  .menu-list.flex {
    padding-top: var(--basic-size);
  }
}

@media screen and (min-width: 1030px) {
  #hello {
    height: 100vh;
    padding-top: 110px;
  }

  .hello-container .content:first-of-type {
    order: inherit;
  }

  #hello h2 {
    margin-bottom: 16rem;
  }

  .hello-description,
  .hello-description:nth-of-type(2) {
    z-index: 230;
    position: absolute;
    top: 320px;
    width: 610px;
  }

  .hello-description:nth-of-type(2) {
    top: 380px;
    width: 590px;
  }

  .hello-link {
    display: inline;
  }

  #hello img {
    max-width: 471px;
  }

  .testimonials-description {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1150px) {

  h1,
  .menu-list.flex {
    padding-top: 0;
  }
}

@media screen and (min-width:1250px) {

  /* MENU DU SITE */
  header .navbar.flex {
    gap: 3rem;
  }

  h1,
  .menu-list.flex {
    padding-top: 0;
  }

  .menu-list.flex {
    gap: var(--basic-size);
  }
}