 body{
margin:0;
font-size:16px;
font-family:Arial, Verdana, Sans-serif;
color:#212121;
width:100%;
height:100%;
}
h1{
padding-top:7%;
font-size:3.75em;
text-align: left;
text-transform:uppercase; 
}
h2{
font-size:1.875em;
text-align: left;
text-transform:uppercase; 
width:100%;
}
h3{
font-size:1.25em;
text-transform:uppercase; 
}
h4{
font-size:16px;
}
p{
text-align:left;
}
.cv * {
	box-sizing: border-box;
	margin:auto;
}

aside {
	background-color:#c62727;

}
/* Media queries */
@media screen and (min-width: 992px) {
aside {
	display:block;
	height:1684px;
	display: inline-block;
	width: 32%;
	float:left;
position:relative;
}
.main{
	display:block;
	height:1684px;
	display: inline-block;
	width: 68%;
position:relative;
}
.hobby{
display: inline-block;
position:absolute; 
bottom:0;
width:100%;
height:11%;
padding-bottom:2%;
}
footer {
display: inline-block;
position:absolute; 
bottom:0;
width:100%;
padding-left:10%;
padding-right:5%;
padding-bottom:4%;
}
}
@media screen and (max-width: 991px) {
aside {
	display: block;
	width: 100%;
}
.main{
	display: block;
	width: 100%;
}
.hobby{
position:relative; 
bottom:auto;
width:100%;
height:11%;
padding:0;
margin-bottom:2%;
}
footer {
position:relative; 
bottom:auto;
padding-left:10%;
padding-right:5%;
padding-bottom:4%;
}
}
/*bande de couleur */
img.photo {
display: block;
height:20%;
margin:auto;
margin-top:4%;
margin-bottom:1%;
height:13%;
border-radius: 100%;
border:solid 5px #b71c1c;
}
h2.framed{
width:100%;
background-color:#424242;
text-align: center;
color:#c62727;
margin-top:1%;
margin:auto;
margin-bottom:2%;
padding: 5px 0px 5px 0px;
}
p.sidebar{
line-height: 150%;
text-align:justify;
padding-left:15%;
padding-right:15%;
padding-bottom:1%;
}
.contact{
width:100%;
height:23%;
margin:0px;
padding:0;
}
.aboutme{
width:100%;
height:46%;
margin:0px;
padding:0;
}
div.icon_side{
text-align:center;
}
div.icon_side span{
border-radius: 100%;
border:solid 2px #424242;
font-size:3.75em;
color:#424242;
padding:13px;
}
/* entête */
header{
padding-left:10%;
padding-right:5%;
}
.firstname{
color:#c62727;
}
h2.header{
padding-bottom:7%;
text-align: left;
text-transform:capitalize;
text-decoration: none;
color:#212121;
}
.deve{
color:#212121;
text-decoration: underline;
text-decoration-color:#c62727;
text-underline-position: under;
}
h2 span.deve{
padding-right:0;
}
/* corps */

section {
padding-left:10%;
padding-right:5%;
}
div.title{
border-bottom: 2px solid #c62727;
margin-bottom:3%;
padding-bottom:1%;
}
h2 span{
font-size:1em;
color:#c62727;
padding-right:5%;
}
table {
padding-bottom:4%;
}

.icon_first{
width:1%;
color:#c62727;
vertical-align: top;
}

.icon{
width:1%;
font-size:10px;
color:#c62727;
vertical-align: top;
}
.date {
width:34%;
text-transform:capitalize;
vertical-align: top;
}
.desc {
width:65%;
padding-bottom:3%;
padding-top:1%;
}
h4.work{
font-weight: normal;
text-transform:capitalize;
padding-top:1%;
padding-bottom:1%;
}
/* pied de page */
h4.footer {
text-transform:uppercase; 
padding-bottom:1%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
width:45%;
  float: left;
  display: block;
}

.gras{
font-weight: bold;
}
