body{
margin:0;
font-size:1.1VW;
font-family:Arial, Verdana, Sans-serif;
color:#212121;
width:100%;
height:100%;
}
h1{
padding-top:116px;
font-size:5.0VW;
text-align: left;
text-transform:uppercase; 
}
h2{
padding-bottom:45px;
font-size:2.0VW;
text-align: left;
text-transform:uppercase; 
text-decoration: underline;
width:100%;
color:#c62727;
}
h3{
font-size:1.4VW;
text-transform:uppercase; 
}
h4{
font-size:1.1VW;
text-transform:capitalize;
}
p{
text-align:left;
}
.cv * {
	box-sizing: border-box;
	margin:auto;
}

aside {
	background-color:#c62727;
margin: 0;
}
/* Media queries */
@media screen and (min-width: 992px) {
aside {
	display:block;
	height:1684px;
	display: inline-block;
	width: 32%;
	float:left;
position:relative;
}
.main{
	display:block;
	height:1684px;
	display: inline-block;
	width: 68%;
position:relative;
}
.hobby{
display: inline-block;
position:absolute; 
bottom:0;
width:100%;
margin:0px;
margin-bottom:40px;
padding:0;
}
header{
padding-left:10%;
padding-right:5%;
}
footer {
display: inline-block;
position:absolute; 
bottom:0px;
width:100%;
padding-left:10%;
padding-right:5%;
padding-bottom:77px;
}
}
@media screen and (max-width: 991px) {
.cv div {
	height: auto;
}
aside {
	display: block;
	width: 100%;
}
.main{
	display: block;
	width: 100%;
}
.hobby{
position:relative; 
bottom:auto;
width:100%;
margin:0px;
padding:0;
margin-bottom:40px;
}
header{
padding-left:1%;
padding-right:1%;
}
footer {
position:relative; 
bottom:auto;
padding-left:10%;
padding-right:5%;
padding-bottom:77px;
}
}
/*bande de couleur suite */
img.photo {
display: block;
margin-top:56px;
width:214px;
height:214px;
border-radius: 100%;
border:solid 5px #b71c1c;
}
h2.framed{
width:100%;
background-color:#424242;
text-align: center;
color:#c62727;
text-decoration: none;
margin-top:40px;
margin-bottom:35px;
padding:5px;
}
p.sidebar{
line-height: 150%;
text-align:justify;
padding-left:15%;
padding-right:15%;
padding-bottom:10px;
}
.contact{
width:100%;
margin:0px;
padding:0;
}
.aboutme{
width:100%;
margin:0px;
padding:0;
}
/* entête */
.firstname{
color:#c62727;
}
h2.header{
padding-bottom:130px;
text-align: left;
text-transform:capitalize;
text-decoration: none;
color:#212121;
}
.deve{
color:#212121;
text-decoration: underline;
text-decoration-color:#c62727;
text-underline-position: under;
}
/* corps */

section {
padding-left:10%;
padding-right:5%;
}
table {
padding-bottom:75px;
}
.icon{
width:1%;
}

.date {
width:34%;
}
.desc {
width:65%;
}
/* pied de page */
footer h4 {
text-transform:uppercase; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
width:45%;
  float: left;
  display: block;
}

.gras{
font-weight: bold;
}
