 body{
margin:0;
font-size:16px;
font-family:Arial, Verdana, Sans-serif;
color:#212121;
width:100%;
height:100%;
}
h4{
font-size:17px;
}
p{
text-align:left;
}
.cv * {
	box-sizing: border-box;
	margin:auto;
}

aside {
	background-color:#984456;

}
/* Media queries */
@media screen and (min-width: 1027px) {
h1{
padding-top:7%;
font-size:3.50em;
text-align: left;
text-transform:uppercase; 
}
h2{
font-size:1.875em;
text-align: left;
text-transform:uppercase; 
width:100%;
}
h3{
font-size:1.25em;
text-transform:uppercase; 
}
aside {
	display:block;
	height:1684px;
	display: inline-block;
	width: 32%;
	float:left;
position:relative;
padding-top:8px;
}
.main{
	display:block;
	height:1684px;
	display: inline-block;
	width: 68%;
position:relative;
}
p.sidebar{
line-height: 150%;
text-align:justify;
padding-left:15%;
padding-right:15%;
padding-bottom:1%;
}
.hobby{
display: inline-block;
position:absolute; 
bottom:0;
width:100%;
height:11%;
padding:0;
padding-top:15%;
margin-bottom:8%;
}
header{
padding-left:10%;
padding-right:5%;
}
footer {
display: inline-block;
position:absolute; 
bottom:0;
width:100%;
padding-left:10%;
padding-right:5%;
padding-bottom:4%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
width:45%;
  float: left;
  display: block;
}
}
@media screen and (min-width: 992px) {
h1{
padding-top:7%;
font-size:3.38em;
text-align: left;
text-transform:uppercase; 
}
h2{
font-size:1.80em;
text-align: left;
text-transform:uppercase; 
width:100%;
}
h3{
font-size:1.25em;
text-transform:uppercase; 
}
aside {
	display:block;
	height:1684px;
	display: inline-block;
	width: 32%;
	float:left;
position:relative;
padding-top:8px;
}
.main{
	display:block;
	height:1684px;
	display: inline-block;
	width: 68%;
position:relative;
}
p.sidebar{
line-height: 150%;
text-align:justify;
padding-left:15%;
padding-right:15%;
padding-bottom:1%;
}
.hobby{
display: inline-block;
position:absolute; 
bottom:0;
width:100%;
height:11%;
padding:0;
padding-top:15%;
margin-bottom:8%;
}
header{
padding-left:10%;
padding-right:5%;
}
footer {
display: inline-block;
position:absolute; 
bottom:0;
width:100%;
padding-left:10%;
padding-right:5%;
padding-bottom:4%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
width:45%;
  float: left;
  display: block;
}
}
@media screen and (max-width: 991px) {
h1{
padding-top:7%;
font-size:3.50em;
text-align: left;
text-transform:uppercase; 
}
h2{
font-size:1.875em;
text-align: left;
text-transform:uppercase; 
width:100%;
}
h3{
font-size:1.25em;
text-transform:uppercase; 
}
aside {
padding-top:8px;
	width: 100%;
	padding-bottom:10px;
}
.main{
	width: 100%;
}
p.sidebar{
line-height: 150%;
text-align:justify;
padding-left:8%;
padding-right:8%;
padding-bottom:1%;
}
.hobby{
position:relative; 
bottom:auto;
width:100%;
height:11%;
padding:0;
padding-top:10%;
margin-bottom:8%;
}
header{
padding-left:1%;
padding-right:1%;
}
footer {
position:relative; 
bottom:auto;
padding-left:10%;
padding-right:5%;
padding-bottom:4%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
width:45%;
  float: left;
  display: block;
}
}

@media screen and (max-width: 625px) {
h1{
padding-top:7%;
font-size:2.70em;
text-align: left;
text-transform:uppercase; 
}
h2{
font-size:1.4375em;
text-align: left;
text-transform:uppercase; 
width:100%;
}
h3{
font-size:1.25em;
text-transform:uppercase; 
}
aside {
padding-top:8px;
	width: 100%;
	padding-bottom:10px;
}
.main{
	width: 100%;
}
p.sidebar{
line-height: 150%;
text-align:justify;
padding-left:8%;
padding-right:8%;
padding-bottom:1%;
}
.hobby{
position:relative; 
bottom:auto;
width:100%;
height:11%;
padding:0;
padding-top:10%;
margin-bottom:8%;
}
header{
padding-left:1%;
padding-right:1%;
}
footer {

position:relative; 
bottom:auto;
padding-left:10%;
padding-right:5%;
padding-bottom:4%;
}
ul {
  list-style-type: none;
  margin:auto;
  overflow: hidden;
}

li {
width:100%;
  display: block;
  padding-left:35%;
  padding-bottom:16px;
}
}
@media screen and (max-width: 479px) {
h1{
padding-top:7%;
font-size:2em;
text-align: left;
text-transform:uppercase; 
}
h2{
font-size:1.08em;
text-align: left;
text-transform:uppercase; 
width:100%;
}
h3{
font-size:1.125em;
text-transform:uppercase; 
}
aside {
padding-top:8px;
	width: 100%;
	padding-bottom:10px;
}
.main{
	width: 100%;
}
p.sidebar{
line-height: 150%;
text-align:justify;
padding-left:8%;
padding-right:8%;
padding-bottom:1%;
}
.hobby{
position:relative; 
bottom:auto;
width:100%;
height:11%;
padding:0;
padding-top:10%;
margin-bottom:8%;
}
header{
padding-left:1%;
padding-right:1%;
}
footer {

position:relative; 
bottom:auto;
padding-left:10%;
padding-right:5%;
padding-bottom:4%;
}
ul {
  list-style-type: none;
  margin:auto;
  overflow: hidden;
}

li {
width:100%;
  display: block;
  padding-left:35%;
  padding-bottom:16px;
}
}
/*bande de couleur */
img.photo {
display: block;
height:20%;
margin:auto;
margin-bottom:2%;
height:12%;
border-radius: 100%;
border:solid 5px #b71c1c;
}
h2.framed{
width:100%;
background-color:#F6D1C4;
text-align: center;
color:#984456;
margin-top:2%;
margin:auto;
margin-bottom:5%;
padding: 5px 0px 5px 0px;
}
.contact{
width:100%;
height:23%;
margin:0px;
padding:0;
}
.aboutme{
width:100%;
height:46%;
margin:0px;
padding:0;
}
div.icon_side{
text-align:center;
padding-top:2%;
}
div.icon_side span{
border-radius: 100%;
border:solid 2px #424242;
font-size:1.875em;
color:#424242;
padding:13px;
margin-left:15px;
margin-right:15px;
}
/* entête */
.firstname{
color:#c62727;
}
h2.header{
padding-bottom:7%;
text-align: left;
text-transform:capitalize;
text-decoration: none;
color:#212121;
}
.deve{
color:#212121;
text-decoration: underline;
text-decoration-color:#c62727;
text-underline-position: under;
}
h2 span.deve{
padding-right:0;
}
/* corps */

section {
padding-left:10%;
padding-right:5%;
}
div.title{
border-bottom: 2px solid #c62727;
margin-bottom:3%;
padding-bottom:1%;
}
h2 span{
font-size:1em;
color:#c62727;
padding-right:5%;
}
table {
padding-bottom:7%;
}

.icon_first{
width:1%;
color:#c62727;
vertical-align: top;
}

.icon{
width:1%;
font-size:10px;
color:#c62727;
vertical-align: top;
}
.date {
width:34%;
text-transform:capitalize;
vertical-align: top;
}
.desc {
width:65%;
padding-bottom:5%;
padding-top:1%;
}
h4.work{
font-weight: normal;
text-transform:capitalize;
padding-top:1%;
padding-bottom:1%;
}
/* pied de page */
h4.footer {
text-transform:uppercase; 
padding-bottom:1%;
}
.gras{
font-weight: bold;
}
